fastapi
uvicorn[standard]
pydantic
python-dotenv
fastapi
uvicorn[standard]
pydantic
python-dotenv
scrapy
beautifulsoup4
httpx
psycopg2-binary
itemadapter
playwright
python-dotenv
pydantic
SQLAlchemy==2.0.54
psycopg2-binary==2.9.13
